header {
    display: flex; 
    justify-content: space-between;
    background-color: aqua;
}

.NameMenu {
    display: flex;
    flex-direction: row;
}

.menu {
    list-style-type: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

.tout {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: space-between;
}

.carre {
    border: black 1px solid;
    border-radius: 1rem;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}