header {
    display: flex; 
    justify-content: space-between;
    background-color: aqua;
}

.NameMenu {
    display: flex;
    flex-direction: row;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}